body{
	margin:0;
	font-family: 'Muli', sans-serif;
}

.wrapper{
	width: 100%;
    display: block;
    margin: auto;
    position: relative;
}

.log-in{
	border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24) !important;
  background-image: linear-gradient(236deg, #39a1f7, #a875ff) !important;
}

header{
	width:100%;
	height: 60px;
	background: #fff;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
	z-index:999;
	position: absolute;
	top:0;
	margin: auto;
	display: block;

}

header nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: 60px;
    display: flex;
    align-items: center;

}

header nav ul  li a img.logo{
	    height: 40px;
    left: 14px;
    position: relative;
}

.li-2{
	    position: absolute;
    right: 11px;
}

header nav ul li{
	display: inline-block;
}

.left{
	text-align: left;
}

.center{
	text-align: center;
}
.main-class{
	position: relative;
	margin:auto;

	width: 400px;
	margin: auto;
	display:block;
	height:100vh;
	overflow-y:hidden;
	border:1px solid #ccc;
}

.main-class form{
	padding: 10px 15px;
}

.main-class  h1{
	font-size: 26px;
	font-weight: normal;
	letter-spacing: 0.3px;
	margin-bottom: 0px;
}

.main-class p{
	margin-top:10px;
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #a9aebe;
}
.main-class input{
	 display: block;
	 margin-bottom: 10px;
	 width: 100%;
	 height:47px;
	 border-radius:4px;
	 line-height:47px;
	 border:1px solid #dadaed;
	 padding: 10px 15px;
	 box-sizing: border-box;
}

.main-class .primary{
		width: 100%;
		box-sizing: border-box;
		font-size:17px;
		padding: 6px 0;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  	    background-image: linear-gradient(254deg, #39a1f7, #a875ff);
		color: #fff;
		margin: 0 !important;
}

.main-class img.bg-login{
	    width: 100%;
    height: 245px;
    object-fit: contain;
}

.last-Log-In {
  width: 47px;
  height: 21px;
  font-family: Muli;
  font-size: 17px;
   letter-spacing: -0.3px;
  text-align: center;
  color: #718cfb;
  display: block;
  margin: auto;
  text-decoration: none;
}

.already-account{
	margin-bottom: 0;
}

.categories{
	position: relative;
}

.categories a:first-child{
	position: absolute;
	left: 14px;
}

.categories h3{
	text-align: center;
	width: 100%;
	font-size: 20px;
	  color: #3b3b3b;
}

.categories a:first-child img{
	height: 17px;
}

.categories a:last-child img{
	height: 30px;
}

.categories a:last-child{
	right: 10px;
	position: absolute;
}

.cateogies-section {
	width: 100%;
	display: block;
	margin-top:60px;
}

.cateogies-section  ul{
	padding-left: 0;
}

.cateogies-section  ul li{
	width: 100%;
	height: 55px;
	line-height: 55px;
	padding: 0px 13px;
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px solid #ededed;
}

.cateogies-section  ul li a{
	color: #3b3b3b;
	text-decoration:none;
}
.cateogies-section  ul li a img{
	position: absolute;
	right: 10px;
	height: 16px;
	top: 17px;
}

.maually{
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #bebebe;
  background-color: #ffffff;
  font-weight: bold;
  width:96%;
  color: #3b3b3b !important;
  padding:6px !important;
  position: absolute !important;
   border: solid 1px #bebebe !important;
  bottom: 10px;



}

.add-item{
width: 100%;
margin:0 !important;
  height: 48px;
  opacity: 0.5;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #718cfb !important; 
}

.procced{
	    position: absolute !important;
    bottom: 0;
    width: 100%;
    margin: 0 !important;
    left: 0;
    padding: 6px !important;
	  font-size: 17px;
  line-height: normal;
  letter-spacing: -0.3px;
  text-transform: capitalize !important;
  text-align: center;
  color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1) !important;
  background-image: linear-gradient(257deg, #39a1f7, #a875ff) !important;
}

.procced img{
	position: absolute;
	right: 10px;
	top: 12px;
	height: 13px;
}

.form-input{
	padding-top:80px !important;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #535d7e;
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
   color: #535d7e;
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
   color: #535d7e;
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
   color: #535d7e;
  opacity: 0.5;
}


.input-label1{
	position: relative;
	    height: 40px;
    border-radius: 4px;
    font-size:16px;
    padding: 0px 15px;
    border: 1px solid #ccc;
    color: #535d7e !important;
    width: 76%;
    float: left;
}
.input-label1 span{
	position: absolute;
	right: 0px;
	width: 40px;
	height: 40px;
	padding: 0 10px;
	line-height: 40px;
	border-left: 1px solid #ccc;
}

.input-label1 p{
	margin:0;
	line-height: 40px;
}

.ul-li {
	position: relative;
}

.ul-li  .img-src{
	position: absolute;
	right: 10px;
	top:10px;
	height: 20px;

}

.status-flow{
	    margin-top: 83px;
    margin-left: 50px;
    border-left: 1px solid #ccc;
}

.status-flow ul{
	padding-left: 0;
	  border-left: 1px solid #ccc;
}

.status-flow ul li{
position: relative;
padding-bottom: 20px;
list-style: none;
color: #7ed321;
	}

.status-flow ul li:before{
	    position: absolute;
    content: '';
    top: 3px;
    left: -7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #7ed321;

}


.status-flow ul li.red:before{
  background-color: #ff7586;

	}

	.red span{
		color: #ff7586;
	}

	.status-flow ul li.blue:before{
  background-color: #535d7e;

	}

	.blue span{
		color: #535d7e;
	}
.status-flow ul li.default:before{
  background-color: #dcdcee;

	}
	.default span{
		color: #dcdcee;
	}
.status-flow ul li span{
padding-left: 22px;
display: inline-block;
}

